* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  list-style-position: inside;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
    background: #000;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
}

#canvas {
    background: #ccc;
    border: 1px solid pink;
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
}

#debug {
    background: #000;
    opacity: 0.5;
    position: absolute;
        left: 0;
        top: 0;
    display: none;
}

.touch-controller {
    position: absolute;
        bottom: 0;
        left: 0;
    height: 200px;
    width: 100vw;
    z-index: 10;
}
.touch-controller-btn {
    border: 1px solid yellow;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 10;
}

.touch-controller-label {
    color: white;
    display: inline-block;
    pointer-events: none;
    position: relative;
        top: 50%;
        left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0px);
            transform: translate3d(-50%, -50%, 0px);
}

.touch-controller-left {
    position: absolute;
        left: 40px;
        bottom: 40%;
}

.touch-controller-right {
    position: absolute;
        left: 120px;
        bottom: 40%;
}

.touch-controller-a {
    position: absolute;
        right: 40px;
        bottom: 40%;
}

.touch-controller-b {
    position: absolute;
        right: 120px;
        bottom: 40%;
}

/* ------------------------------------------------------------ documentation */

.container {
    margin: 0 auto;
    padding:0 50px;
}
.documentation-index {}
.class {}
.class-description {}
.class-properties {}
.class-property {
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;
    padding: 20px 0;
}
.class-property-description {}